.signin {
  color: #e57373;
}

.feedback {
  color: #90caf9;
}

.active {
  color: white;
}

.navbar-brand {
  font-size: 17px;
}

.nav-link {
  font-size: 15px;
  /* padding: 4px; */
}

@media (min-width: 992px) {
  nav {
    height: 72px;
  }
}

nav {
  z-index: 20;
}

.menu-active {
  background-color: #90a4ae;
}
