<div class="container margin-top">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="User Info">
      <div class="row d-flex justify-content-center w-100 no-gutters">
        <div class="col-lg-6 col-md-8">
          <mat-card appearance="outlined" class="w-100 mt-5 mb-5">
            <mat-card-header>
              <mat-card-title class="mb-2">User Info</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pb-3">
              <form
                [formGroup]="profileForm"
                #trackSubmission="ngForm"
                (ngSubmit)="onProfileFormSubmitted(profileForm, trackSubmission)"
              >
                <mat-form-field class="w-100">
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    name="firstName"
                    type="text"
                    formControlName="firstName"
                    placeholder="Enter your first name"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    profileForm.controls.firstName.invalid &&
                    (profileForm.controls.firstName.touched || trackSubmission.submitted)
                  "
                  class="mb-1"
                  >Please enter minimum 2 characters</mat-error
                >
                <mat-form-field class="w-100">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    name="lastName"
                    type="text"
                    formControlName="lastName"
                    placeholder="Enter your last name"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    profileForm.controls.lastName.invalid &&
                    (profileForm.controls.lastName.touched || trackSubmission.submitted)
                  "
                  class="mb-1"
                  >Please enter minimum 2 characters</mat-error
                >

                <mat-error *ngIf="profileFormNoChange && trackSubmission.submitted" class="mb-1"
                  >Please make a change to any of the fields before submitting</mat-error
                >
                <button type="submit" mat-raised-button color="primary">Update</button>
              </form>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Update Email"><app-update-email></app-update-email></mat-tab>
    <mat-tab label="Change Password"><app-change-password></app-change-password></mat-tab>
  </mat-tab-group>
</div>
