<div class="container margin-top">
  <div *ngIf="!cart.length" class="w-100 empty d-flex align-items-center justify-content-center">
    <h2>Your Cart is empty</h2>
  </div>
  <div *ngIf="cart.length">
    <h4 class="text-center mb-5">Your Cart</h4>
    <div class="row">
      <div class="col-lg-8">
        <mat-card class="mb-5" *ngFor="let c of cart; let i = index">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title
                class="mb-1 d-flex flex-column flex-xl-row align-items-start align-items-xl-center"
                ><button
                  class="mb-2 mb-xl-0 mr-xl-2"
                  [routerLink]="['/products', 'details', c.product.productId]"
                  mat-flat-button
                  color="primary"
                >
                  {{ c.product.name }}
                </button>
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    matTooltip="Increase product quantity"
                    mat-icon-button
                    color="primary"
                    (click)="addProduct(c)"
                  >
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <span>{{ ' ' + c.quantity + ' ' }}</span>
                  <button
                    matTooltip="Decrease product quantity"
                    mat-icon-button
                    color="primary"
                    (click)="subtractProduct(c)"
                  >
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </div>
              </mat-card-title>
              <mat-card-subtitle
                class="mb-1 mr-4"
                *ngFor="let s of c.product.specification.split(',').slice(0, 3)"
                >&#x2022; {{ s.trim() }}</mat-card-subtitle
              >
              <img mat-card-md-image *ngIf="largePic" [src]="c.product.url" />
              <img mat-card-sm-image *ngIf="smallPic" [src]="c.product.url" />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <h6>
              {{ 'Rs.' + c.product.price.toLocaleString('en-IN') }}
            </h6>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4">
        <mat-card class="mb-5">
          <mat-card-header class="w-100">
            <mat-card-title class="mb-3">Cart Summary</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="d-flex justify-content-between w-100">
              <h6>Amount ({{ cartItems }} items):</h6>
              <h6>Rs.{{ cartTotal.toLocaleString('en-IN') }}</h6>
            </div>
            <mat-divider class="mb-3"></mat-divider>
            <div class="d-flex justify-content-between w-100">
              <h6>Delivery Charges:</h6>
              <h6>Free</h6>
            </div>
            <mat-divider class="mb-3"></mat-divider>
            <div class="d-flex justify-content-between w-100">
              <h5>Total Amount:</h5>
              <h5>Rs.{{ cartTotal.toLocaleString('en-IN') }}</h5>
            </div>
            <mat-divider class="mb-3"></mat-divider>
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-center pb-3">
            <button mat-raised-button color="primary" (click)="proceedToCheckout()">
              Proceed to Checkout
            </button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar *ngIf="loadingCheckout" mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
