<div class="container margin-top">
  <div
    *ngIf="!orders.length"
    class="w-100 no-orders d-flex align-items-center justify-content-center"
  >
    <h4 class="text-center">You have not placed any orders</h4>
  </div>
  <div *ngIf="orders.length" class="mb-5">
    <h4 class="text-center mb-5">Your Orders</h4>
    <ng-container *ngFor="let order of orders; let i = index">
      <ng-container *ngFor="let p of order.orderItems; let j = index">
        <mat-card class="mb-5">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title class="mb-2">
                <button
                  matTooltip="Order Details"
                  (click)="
                    sendOrderDetails(
                      orderTimeStamp[i],
                      orderDeliveryTimeStamps[i],
                      orderDeliveryStatus[i],
                      order.orderId,
                      p
                    )
                  "
                  mat-flat-button
                  color="accent"
                >
                  {{ p.product.name }}
                </button>
              </mat-card-title>
              <mat-card-subtitle
                class="mb-2 mr-4"
                *ngFor="let s of p.product.specification.split(',').slice(0, 5)"
                >&#x2022; {{ s.trim() }}</mat-card-subtitle
              >
              <mat-card-subtitle class="mb-2 mr-4">Quantity: {{ p.quantity }} </mat-card-subtitle>
              <mat-card-subtitle *ngIf="orderDeliveryStatus[i]" class="mb-2 mr-4"
                >{{ 'Delivered on ' + orderDeliveryTimeStamps[i] }}
              </mat-card-subtitle>
              <mat-card-subtitle *ngIf="!orderDeliveryStatus[i]" class="mb-2 mr-4"
                >{{ 'Scheduled to be Delivered on ' + orderDeliveryTimeStamps[i] }}
              </mat-card-subtitle>
              <img mat-card-xl-image *ngIf="largePic" [src]="p.product.url" />
              <img mat-card-sm-image *ngIf="smallPic" [src]="p.product.url" />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <h5 class="mb-0">Rs.{{ (p.product.price * p.quantity).toLocaleString('en-IN') }}</h5>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>
