<div class="container-lg margin-top">
  <!-- <div class="category mb-4">products/{{ product.category.split(', ').join('-') }}</div> -->

  <mat-card class="mb-5" appearance="outlined">
    <div class="row">
      <div class="col-md-8">
        <img class="w-100" [src]="product.url" />
        <button
          class="button-on-image"
          mat-icon-button
          *ngIf="!webmaster && auth && !wishlisted"
          (click)="addToWishList(i)"
          matTooltip="Add to Wishlist"
          color="warn"
        >
          <mat-icon>favorite_outline</mat-icon>
        </button>
        <button
          class="button-on-image"
          mat-icon-button
          *ngIf="!webmaster && auth && wishlisted"
          (click)="removeFromWishList(i)"
          color="warn"
          matTooltip="Remove from Wishlist"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-around align-items-center">
        <h2 class="brand my-3 my-md-0 mr-2 mr-lg-0">{{ product.brand }}</h2>
        <h6 class="name mb-3 mb-md-0 mr-2 mr-lg-0">{{ product.name }}</h6>
        <div class="align-self-center mb-3 mb-md-0 mr-2 mr-lg-0">
          <p
            class="mb-1 specs text-left mr-2 mr-lg-0"
            *ngFor="let s of product.specification.split(',')"
          >
            &#x2022; {{ s }}
          </p>
        </div>
        <p
          class="description align-self-center mb-3 mb-md-0 ml-2 ml-md-0 mr-2 mr-lg-0 w-80 w-md-100"
        >
          {{ product.description.substring(0, 108) }}
        </p>

        <div class="d-flex flex-column align-items-center mb-3 mb-md-0 mr-2 mr-lg-0">
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <mat-select [(ngModel)]="quantity" name="sortBy">
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
              <mat-option [value]="3">3</mat-option>
              <mat-option [value]="4">4</mat-option>
            </mat-select>
          </mat-form-field>
          <p class="price mr-2 mr-lg-0">Rs.{{ product.price.toLocaleString('en-IN') }}</p>
          <button mat-raised-button color="primary  mr-2 mr-lg-0" (click)="addToCart()">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
