<div class="container margin-top">
  <h2 class="display-3 text-center mb-4">About Us</h2>
  <div class="mb-5 text-justify">
    <!-- <ul class="list-group">
      <li class="list-group-item border-bottom pb-4">
        The home page will automatically sign you in with email <u>'user&#64;gmail.com'</u> and
        password <u>‘user1234’</u> for you to test out and look at various features of the website.
      </li>
      <li class="list-group-item border-bottom pb-4">
        Developed dynamic e-commerce platform with Angular frontend and Spring Boot REST API
        backend.
      </li>
      <li class="list-group-item border-bottom pb-4">
        Used Bootstrap as the Utility CSS Framework and Angular Material as the Component Library.
      </li>
      <li class="list-group-item border-bottom pb-4">
        Deployed SPA on Vercel, RESTful API on Azure, utilizing Azure SQL Database.
      </li>
      <li class="list-group-item border-bottom pb-4">
        Implemented Spring Security with JWT for data integrity and user privacy.
      </li>
      <li class="list-group-item border-bottom pb-4">
        Customer Experience:
        <ul>
          <li>Implemented pagination, sorting and filtering for the products on the home page.</li>
          <li>
            Seamlessly integrated search for product exploration such that it can work in sync with
            filtering and also independent of filtering.
          </li>
          <li>
            Streamlined shopping experience with cart management, enabling users to add, edit or
            remove products.
          </li>
          <li>Facilitated payments through a seamless checkout process.</li>
          <li>
            Implemented Orders page for tracking previous purchases and a Wishlist for saving
            desired items.
          </li>
        </ul>
      </li>
      <li class="list-group-item border-bottom pb-4">
        Admin facing side::
        <ul>
          <li>Facility to add/delete/update any product.</li>
          <li>
            All Orders page that displays a clickable list of all the orders placed on the website
            and total earnings.
          </li>
          <li>
            Order Details page that lists all of the products and their quantity in the order.
          </li>
          <li>
            Enhanced decision-making with detailed Wishlist Data for analysing product popularity.
          </li>
        </ul>
      </li>
    </ul> -->

    <mat-card class="mb-4">
      <mat-card-content
        >The home page will automatically sign you in with email <u>'user&#64;gmail.com'</u> and
        password <u>‘user1234’</u> for you to test out and look at various features of the
        website.</mat-card-content
      >
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-content
        >Developed dynamic e-commerce platform with Angular frontend and Spring Boot REST API
        backend.</mat-card-content
      >
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-content
        >Used Bootstrap as the Utility CSS Framework and Angular Material as the Component
        Library.</mat-card-content
      >
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-content
        >Deployed SPA on Vercel, RESTful API on Azure, utilizing Azure SQL
        Database.</mat-card-content
      >
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-content
        >Implemented Spring Security with JWT for data integrity and user privacy.</mat-card-content
      >
    </mat-card>
    <mat-card class="mb-4">
      <mat-card-header class="mb-3">
        <mat-card-title class="mb-1">Customer Experience:</mat-card-title>
        <mat-card-subtitle class="mb-2"
          >&#x2022; Implemented pagination, sorting and filtering for the products on the home
          page.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Seamlessly integrated search for product exploration such that it can work in
          sync with filtering and also independent of filtering.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Streamlined shopping experience with cart management, enabling users to add,
          edit or remove products.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Facilitated payments through a seamless checkout process.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Implemented Orders page for tracking previous purchases and a Wishlist for
          saving desired items.</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-header class="mb-3">
        <mat-card-title class="mb-1">Admin facing side:</mat-card-title>
        <mat-card-subtitle class="mb-2"
          >&#x2022; Facility to add/delete/update any product.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; All Orders page that displays a clickable list of all the orders placed on the
          website and total earnings.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Order Details page that lists all of the products and their quantity in the
          order.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Enhanced decision-making with detailed Wishlist Data for analysing product
          popularity.</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
  </div>
</div>
