<div class="container margin-top">
  <h4 class="text-center mb-4">About Us</h4>
  <div class="mb-5 text-justify">
    <mat-card appearance="outlined" class="mb-4">
      <mat-card-content
        >The home page will automatically sign you in with email <u>'user&#64;gmail.com'</u> and
        password <u>‘user1234’</u> for you to test out and look at various features of the
        website.</mat-card-content
      >
    </mat-card>
    <mat-card appearance="outlined" class="mb-4">
      <mat-card-content
        >Developed dynamic e-commerce platform with Angular frontend and Spring Boot REST API
        backend.</mat-card-content
      >
    </mat-card>
    <mat-card appearance="outlined" class="mb-4">
      <mat-card-content
        >Used Bootstrap as the Utility CSS Framework and Angular Material as the Component
        Library.</mat-card-content
      >
    </mat-card>
    <mat-card appearance="outlined" class="mb-4">
      <mat-card-content
        >Deployed SPA on Vercel, RESTful API on Azure, utilizing Azure SQL
        Database.</mat-card-content
      >
    </mat-card>
    <mat-card appearance="outlined" class="mb-4">
      <mat-card-content
        >Implemented Spring Security with JWT for data integrity and user privacy.</mat-card-content
      >
    </mat-card>
    <mat-card appearance="outlined" class="my-4">
      <mat-card-header>
        <mat-card-title class="mb-1">Customer Experience:</mat-card-title>
        <mat-card-subtitle class="mb-2"
          >&#x2022; Implemented carousel on the home page to showcase product
          catalogue.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Implemented pagination, sorting and filtering for the products on the product
          listing pages.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Seamlessly integrated search for product exploration such that it can work in
          sync with filtering and also independent of filtering.
        </mat-card-subtitle>
        <mat-card-subtitle class="mb-2"
          >&#x2022; Utilized the Criteria Builder’s new Specification API to build the Search and
          Filtering features.
        </mat-card-subtitle>
        <mat-card-subtitle class="mb-2"
          >&#x2022; Users can add (or remove) products to their own Wishlist.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Streamlined shopping experience with cart management, enabling users to add,
          edit or remove products.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Facilitated payments through a seamless checkout process.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Implemented Orders page for tracking previous purchases.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Users also have their own personal profile page where they can update their
          details like first name, last name, email and password</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
    <mat-card appearance="outlined" class="my-4">
      <mat-card-header>
        <mat-card-title class="mb-1">Admin facing side:</mat-card-title>
        <mat-card-subtitle class="mb-2"
          >&#x2022; Facility to add/delete/update any product.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; All Orders page that displays a clickable list of all the orders placed on the
          website and total earnings.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Order Details page that lists all of the products and their quantity in the
          order.</mat-card-subtitle
        >
        <mat-card-subtitle class="mb-2"
          >&#x2022; Enhanced decision-making with detailed Wishlist Data for analysing product
          popularity.</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
  </div>
</div>
