<!-- Logging In with Dummy user ||  Searching-Sorting-Filtering-login loading -->
<mat-progress-bar
  *ngIf="loggingIn || togglingWishlist || sorting || searching || filtering"
  color="warn"
  mode="indeterminate"
></mat-progress-bar>
<div
  [ngClass]="
    loggingIn || togglingWishlist || sorting || searching || filtering
      ? 'container-fluid margin-top-loggingIn row no-gutters'
      : 'container-fluid margin-top row no-gutters'
  "
>
  <!-- Side Bar -->
  <div class="col-md-2 d-none d-md-block border-right">
    <div class="sidebar d-flex flex-column justify-content-between">
      <h2>Filter by</h2>
      <div class="brand-filter">
        <!-- Filter by Brands -->
        <section class="example-section" [formGroup]="rForm">
          <h4>Brands:</h4>
          <p *ngFor="let brand of brands; let i = index">
            <mat-checkbox [formControlName]="'brand' + (i + 1)">{{ brand }}</mat-checkbox>
          </p>
        </section>
      </div>
    </div>
  </div>
  <div class="pl-0 pl-md-3 col-12 col-md-10">
    <div class="row d-flex justify-content-between my-4">
      <!-- Search Bar -->
      <div class="col-sm-6 col-lg-6 col-xl-4 mb-4 mb-sm-0">
        <mat-form-field class="form-field">
          <mat-label>Search for a name or a brand</mat-label>
          <input matInput type="text" [(ngModel)]="term" (ngModelChange)="searchTermChanged()" />
          <button
            *ngIf="term"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchTermDeleted()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Sorting -->

      <div class="col-sm-6 col-lg-6 col-xl-4">
        <mat-form-field>
          <mat-label>Sort By</mat-label>
          <mat-select [(ngModel)]="sortByCode" name="sortBy" (ngModelChange)="onSortingChange()">
            <mat-option [value]="0">Default Sorting</mat-option>
            <mat-option [value]="1">Price High to Low</mat-option>
            <mat-option [value]="2">Price Low to High</mat-option>
            <mat-option [value]="3">Name from A-Z</mat-option>
            <mat-option [value]="4">Name from Z-A</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Searching-Filtering results line -->

    <div
      *ngIf="usingSearch || usingFilter1"
      class="d-flex justify-content-center mb-4 results-line"
    >
      <h3 *ngIf="usingSearch && usingFilter1">
        {{ 'We found ' + noOfResults + ' product(s) per your applied filter and search query' }}
      </h3>
      <h3 *ngIf="usingSearch && !usingFilter1">
        {{ 'We found ' + noOfResults + ' product(s) as per your search query' }}
      </h3>
      <h3 *ngIf="!usingSearch && usingFilter1">
        {{ 'We found ' + noOfResults + ' product(s) as per your applied filter' }}
      </h3>
    </div>

    <!-- Products List -->
    <div
      *ngIf="!products.length"
      class="w-100 no-products d-flex align-items-center justify-content-center"
    >
      <h2 class="text-center">
        There are currently no products as per your search query and/or applied filter.
      </h2>
    </div>
    <ng-container *ngIf="products.length">
      <div
        class="mb-5 d-flex justify-content-center"
        *ngFor="let product of products; let i = index"
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title
                class="mb-2 d-flex flex-column flex-sm-row align-items-start align-items-sm-center"
                ><button
                  class="mb-2 mb-sm-0 mr-sm-2"
                  [routerLink]="['/products', 'details', product.productId]"
                  mat-flat-button
                  color="primary"
                >
                  {{ product.name }}
                </button>
                <button
                  matTooltip="Add Product to Cart"
                  mat-mini-fab
                  color="accent"
                  *ngIf="!webmaster"
                  (click)="addToCart(product)"
                >
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  *ngIf="webmaster"
                  matTooltip="Edit Product"
                  [routerLink]="['/products', 'edit', product.productId]"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-card-title>
              <mat-card-subtitle
                class="ml-2 mb-2 mr-4"
                *ngFor="let s of product.specification.split(',').splice(0, 6)"
                >&#x2022; {{ s.trim() }}</mat-card-subtitle
              >
              <!-- <mat-card-subtitle>
                <button
                  matTooltip="Add Product to Cart"
                  mat-fab
                  extended
                  color="accent"
                  *ngIf="!webmaster"
                  (click)="addToCart(product)"
                >
                  <mat-icon>add_shopping_cart</mat-icon>
                  Add to Cart
                </button>
              </mat-card-subtitle> -->

              <img *ngIf="smallPic" mat-card-sm-image [src]="product.url" />
              <img *ngIf="largePic" mat-card-xl-image [src]="product.url" />
            </mat-card-title-group>
          </mat-card-header>
          <button
            class="button-on-image"
            mat-icon-button
            *ngIf="!webmaster && auth && !wishListed[i]"
            (click)="addToWishList(i)"
            matTooltip="Add to Wishlist"
            color="warn"
          >
            <mat-icon>favorite_outline</mat-icon>
          </button>
          <button
            class="button-on-image"
            mat-icon-button
            *ngIf="!webmaster && auth && wishListed[i]"
            (click)="removeFromWishList(i)"
            color="warn"
            matTooltip="Remove from Wishlist"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="button-on-image"
            mat-icon-button
            color="warn"
            *ngIf="webmaster"
            (click)="onDelete(product.productId)"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <mat-card-content>
            <h3>
              {{ 'Rs.' + product.price.toLocaleString('en-IN') }}
            </h3>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
    <!-- Pagination -->

    <div class="d-flex justify-content-center mb-3">
      <mat-progress-bar *ngIf="pageChange" mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="d-flex justify-content-center mb-4">
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="totalElements"
        [pageSize]="8"
        [disabled]="false"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[]"
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
      >
      </mat-paginator>
    </div>
  </div>
</div>
