<mat-progress-bar *ngIf="loggingIn" color="warn" mode="indeterminate"></mat-progress-bar>
<div class="carousel-container">
  <div class="carousel-items">
    <div
      [ngStyle]="{transform: 'translateX(' + j + '%)'}"
      class="carousel_item row no-gutters"
      *ngFor="let slide of slides; let i = index"
    >
      <div class="col-2 h-100">
        <a [routerLink]="['/products', slide.path]">
          <img class="h-50 w-100" [src]="slide.images[0]" />
        </a>
        <a [routerLink]="['/products', slide.path]">
          <img class="h-50 w-100" [src]="slide.images[1]" />
        </a>
      </div>
      <div class="col-8 h-100">
        <a [routerLink]="['/products', slide.path]">
          <img class="h-100 w-100" [src]="slide.images[2]" />
        </a>
      </div>
      <div class="col-2 h-100">
        <a [routerLink]="['/products', slide.path]">
          <img class="h-50 w-100" [src]="slide.images[3]" />
        </a>
        <a [routerLink]="['/products', slide.path]">
          <img class="h-50 w-100" [src]="slide.images[4]" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="px-5">
  <div class="my-5" *ngFor="let type of data; let i = index">
    <h1 class="mb-5">{{ type.title }}</h1>
    <div class="row">
      <div *ngFor="let product of type.products; let j = index" class="mb-5 col-sm-6 col-xl-3">
        <a [routerLink]="['/products', type.path]">
          <mat-card>
            <img mat-card-image [src]="product.url" />
            <mat-card-content>
              <h2 class="mt-2 text-center text-light">
                {{ product.brand }}
              </h2>
              <h4 class="text-center text-light">{{ product.name }}</h4>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
