<div class="container margin-top">
  <div
    *ngIf="!products.length"
    class="w-100 empty d-flex align-items-center justify-content-center"
  >
    <h4>You have no products in the wishlist</h4>
  </div>
  <div class="w-100 wishlist" *ngIf="products.length">
    <h4 class="text-center mb-5">Your Wishlist</h4>
    <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
    <mat-card appearance="outlined" class="mb-5" *ngFor="let product of products; let i = index">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title
            class="mb-2 d-flex flex-column flex-sm-row align-items-start align-items-sm-center"
            ><button
              class="mb-2 mb-sm-0 mr-sm-4"
              [routerLink]="['/products', 'details', product.productId]"
              mat-flat-button
              color="primary"
            >
              {{ product.name }}
            </button>
            <button
              matTooltip="Add Product to Cart"
              mat-mini-fab
              color="accent"
              (click)="addProductToCart(product)"
            >
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-subtitle
            class="mb-2 mr-4"
            *ngFor="let s of product.specification.split(',').slice(0, 3)"
            >&#x2022; {{ s.trim() }}</mat-card-subtitle
          >
          <img mat-card-md-image *ngIf="largePic" [src]="product.url" />
          <img mat-card-sm-image *ngIf="smallPic" [src]="product.url" />
        </mat-card-title-group>
      </mat-card-header>
      <button
        class="button-on-image"
        mat-icon-button
        (click)="removeProduct(product)"
        matTooltip="Remove from wishlist"
        color="warn"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-card-content>
        <h6>
          {{ 'Rs.' + product.price.toLocaleString('en-IN') }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
